<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <script type="text/javascript" src="webjars/jquery/3.6.1/dist/jquery.js"></script>
    <script type="text/javascript" src="../static/main.js" th:src="@{/main.js}"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="UTF-8">

    <title>Admin panel</title>
</head>
<body>
<!--Навигация-->
<nav class="navbar navbar-light bg-dark">
    <a class="navbar-brand ">
        <span class="text-white font-weight-bold" th:text="${user.email}"></span>
        <span class="text-white">  with roles: </span>
        <span class="text-white" th:text="${user.getRolesInfo()}"></span>
    </a>

    <form class="form-inline" th:action="@{/logout}" method="post">
        <button class="btn btn-dark text-secondary " type="submit">Log out</button>
    </form>
</nav>
<!--Вертикальные табы-->
<div class="container-fluid">
    <div class="row">
        <div class="col-2 p-0 py-3 vh-100 d-inline-block">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-admin" role="tab"
                   aria-controls="v-pills-home" aria-selected="true">Admin</a>
                <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-user" role="tab"
                   aria-controls="v-pills-profile" aria-selected="false">User</a>
            </div>
        </div>
        <div class="flex-column col-10 " style="background:#f8f9fa">
            <div class="tab-content" id="v-pills-tabContent">
                <!--Вкладка админ-->
                <div class="tab-pane fade show active ml-3" id="v-pills-admin" role="tabpanel"
                     aria-labelledby="v-pills-home-tab">
                    <h1 class="">Admin panel</h1>
                    <!--Табы с таблицей и добавлением юзера-->
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-table-tab" data-toggle="tab" href="#nav-table"
                               role="tab" aria-controls="nav-home" aria-selected="true">Users table</a>
                            <a class="nav-item nav-link" id="nav-adding-tab" data-toggle="tab" href="#nav-adding"
                               role="tab" aria-controls="nav-profile" aria-selected="false">New User</a>
                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        <!--Таблица-->
                        <div class="tab-pane fade show active" id="nav-table" role="tabpanel"
                             aria-labelledby="nav-home-tab">
                            <table class="table table-striped" th:switch="users">
                                <thead>
                                <tr>
                                    <th scope="col">Id</th>
                                    <th scope="col">First Name</th>
                                    <th scope="col">Last Name</th>
                                    <th scope="col">Age</th>
                                    <th scope="col">E-mail</th>
                                    <th scope="col">Role</th>
                                    <th scope="col">Edit</th>
                                    <th scope="col">Delete</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="user : ${users}">
                                    <td th:text="${user.getId()}"></td>
                                    <td th:text="${user.getName()}"></td>
                                    <td th:text="${user.getSurname()}"></td>
                                    <td th:text="${user.getAge()}"></td>
                                    <td th:text="${user.getEmail()}"></td>
                                    <td th:text="${user.getRolesInfo()}"></td>

                                    <td>
                                        <a  th:href="@{getOne/(id=${user.id})}" class="btn btn-info">Edit
                                        </a>
                                    </td>
                                    <td>
                                        <button th:href="@{user-delete/{id}(id=${user.id})}">Delete</button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!--Модальное окно-->
                        <div class="modal fade" id="editModal" tabindex="-1" role="dialog"
                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <form th:action="@{/user-update/}" th:object="${user}" method="put">

                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <label for="idEdit" class="col-form-label">Id</label>
                                                <input type="text" class="form-control" id="idEdit" name="idEdit" th:field="*{id}" disabled>
                                            </div>
                                            <div class="form-group">
                                                <label for="fnEdit" class="col-form-label">First Name</label>
                                                <input type="text" class="form-control" id="fnEdit"  name="fnEdit" th:field="*{name}">
                                            </div>
                                            <div class="form-group">
                                                <label for="lnEdit" class="col-form-label">Last Name</label>
                                                <input type="text" class="form-control" id="lnEdit"  name="lnEdit" th:field="*{surname}">
                                            </div>
                                            <div class="form-group">
                                                <label for="ageEdit" class="col-form-label">Age</label>
                                                <input type="text" class="form-control" id="ageEdit"  name="ageEdit"  th:field="*{age}">
                                            </div>
                                            <div class="form-group">
                                                <label for="emailEdit" class="col-form-label">Email</label>
                                                <input type="text" class="form-control" id="emailEdit"  name="emailEdit"  th:field="*{email}">
                                            </div>
                                            <div class="form-group">
                                                <label for="passwordEdit" class="col-form-label">Password</label>
                                                <input type="text" class="form-control" id="passwordEdit"  name="passwordEdit"  th:field="*{password}">
                                            </div>
                                            <div class="form-group">
                                                <label for="roleEdit" class="col-form-label">Role</label>
                                                <input type="text" class="form-control" id="roleEdit"  name="roleEdit"  th:field="*{roles}">
                                            </div>


                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                                            </button>
                                            <button type="submit" class="btn btn-primary">Edit</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!--Добавление юзера-->
                        <div class="tab-pane fade" id="nav-adding" role="tabpanel" aria-labelledby="nav-profile-tab">
                            ...bbb
                        </div>
                    </div>

                </div>
                <!--Вкладка юзер-->
                <div class="tab-pane fade" id="v-pills-user" role="tabpanel" aria-labelledby="v-pills-profile-tab">///
                    <h1>AAAAAAAAAAAAAAAAAA</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>
</html>